In [99]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [100]:
df1=pd.read_csv('uber_dataset.csv')
df1

,Pickup Location,Drop Location,Booking Status,Vehicle Type,Date,Time,Ride Distance,Booking Value,Payment Method,Avg CTAT,Driver Ratings,Avg VTAT,Customer Rating
0,IIT Delhi,Sohna Road,Completed,Go Mini,2024-01-24,18:39:14,20.20,272.37,Debit Card,4.32,3.60,3.02,3.53
1,Nawada,Noida Extension,Completed,eBike,2024-03-04,14:38:54,6.21,67.67,Debit Card,2.49,4.24,1.60,4.44
2,Uttam Nagar,Mayur Vihar,Completed,Go Mini,2024-08-09,07:31:02,16.17,186.88,Uber Wallet,4.40,4.12,2.80,4.01
3,Ghitorni,Satguru Ram Singh Marg,Completed,Bike,2024-08-25,15:05:14,10.49,89.87,Cash,4.41,4.04,2.56,3.96
4,Rajiv Chowk,New Delhi Railway Station,Completed,Go Mini,2024-03-28,08:04:50,10.32,159.61,Uber Wallet,4.62,NaN,2.54,3.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,Udyog Vihar,Palam Vihar,Completed,Go Mini,2024-06-26,19:37:52,11.06,153.54,Credit Card,5.90,3.79,1.74,4.01
149996,Anand Vihar ISBT,Vishwavidyalaya,Completed,Bike,2024-04-05,07:21:39,7.15,68.67,Cash,3.56,4.01,3.26,3.75
149997,Mayur Vihar,Meerut,Cancelled by Customer,eBike,2024-06-04,04:24:33,12.48,99.63,Cash,9.63,2.84,5.21,1.87
149998,Azadpur,Noida Sector 62,Completed,Go Sedan,2024-05-04,12:04:49,17.41,204.38,UPI,4.86,NaN,2.99,4.42
149999,Azadpur,Cyber Hub,Completed,Go Sedan,2024-09-19,16:37:15,2.34,50.86,Cash,4.43,4.13,1.73,4.32

In [101]:
df2=pd.read_csv('ncr_ride_bookings.csv')
df2

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,Reason for cancelling by Customer,Cancelled Rides by Driver,Driver Cancellation Reason,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method
0,2024-03-23,12:29:38,"""CNR5884300""",No Driver Found,"""CID1982111""",eBike,Palam Vihar,Jhilmil,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-11-29,18:01:39,"""CNR1326809""",Incomplete,"""CID4604802""",Go Sedan,Shastri Nagar,Gurgaon Sector 56,4.9,14.0,...,NaN,NaN,NaN,1.0,Vehicle Breakdown,237.0,5.73,NaN,NaN,UPI
2,2024-08-23,08:56:10,"""CNR8494506""",Completed,"""CID9202816""",Auto,Khandsa,Malviya Nagar,13.4,25.8,...,NaN,NaN,NaN,NaN,NaN,627.0,13.58,4.9,4.9,Debit Card
3,2024-10-21,17:17:25,"""CNR8906825""",Completed,"""CID2610914""",Premier Sedan,Central Secretariat,Inderlok,13.1,28.5,...,NaN,NaN,NaN,NaN,NaN,416.0,34.02,4.6,5.0,UPI
4,2024-09-16,22:08:00,"""CNR1950162""",Completed,"""CID9933542""",Bike,Ghitorni Village,Khan Market,5.3,19.6,...,NaN,NaN,NaN,NaN,NaN,737.0,48.21,4.1,4.3,UPI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,2024-11-11,19:34:01,"""CNR6500631""",Completed,"""CID4337371""",Go Mini,MG Road,Ghitorni,10.2,44.4,...,NaN,NaN,NaN,NaN,NaN,475.0,40.08,3.7,4.1,Uber Wallet
149996,2024-11-24,15:55:09,"""CNR2468611""",Completed,"""CID2325623""",Go Mini,Golf Course Road,Akshardham,5.1,30.8,...,NaN,NaN,NaN,NaN,NaN,1093.0,21.31,4.8,5.0,UPI
149997,2024-09-18,10:55:15,"""CNR6358306""",Completed,"""CID9925486""",Go Sedan,Satguru Ram Singh Marg,Jor Bagh,2.7,23.4,...,NaN,NaN,NaN,NaN,NaN,852.0,15.93,3.9,4.4,Cash
149998,2024-10-05,07:53:34,"""CNR3030099""",Completed,"""CID9415487""",Auto,Ghaziabad,Saidulajab,6.9,39.6,...,NaN,NaN,NaN,NaN,NaN,333.0,45.54,4.1,3.7,UPI
149999,2024-03-10,15:38:03,"""CNR3447390""",Completed,"""CID4108667""",Premier Sedan,Ashok Park Main,Gurgaon Sector 29,3.5,33.7,...,NaN,NaN,NaN,NaN,NaN,806.0,21.19,4.6,4.9,Credit Card

In [102]:
df2.isnull().sum()

Date                                      0
Time                                      0
Booking ID                                0
Booking Status                            0
Customer ID                               0
Vehicle Type                              0
Pickup Location                           0
Drop Location                             0
Avg VTAT                              10500
Avg CTAT                              48000
Cancelled Rides by Customer          139500
Reason for cancelling by Customer    139500
Cancelled Rides by Driver            123000
Driver Cancellation Reason           123000
Incomplete Rides                     141000
Incomplete Rides Reason              141000
Booking Value                         48000
Ride Distance                         48000
Driver Ratings                        57000
Customer Rating                       57000
Payment Method                        48000
dtype: int64

In [103]:
cols=df2[['Cancelled Rides by Customer','Reason for cancelling by Customer','Cancelled Rides by Driver','Driver Cancellation Reason','Incomplete Rides','Incomplete Rides Reason']]

In [104]:
cols.isnull().sum()

Cancelled Rides by Customer          139500
Reason for cancelling by Customer    139500
Cancelled Rides by Driver            123000
Driver Cancellation Reason           123000
Incomplete Rides                     141000
Incomplete Rides Reason              141000
dtype: int64

In [105]:
data1=pd.concat([df1,cols],axis=1)

In [106]:
data1

,Pickup Location,Drop Location,Booking Status,Vehicle Type,Date,Time,Ride Distance,Booking Value,Payment Method,Avg CTAT,Driver Ratings,Avg VTAT,Customer Rating,Cancelled Rides by Customer,Reason for cancelling by Customer,Cancelled Rides by Driver,Driver Cancellation Reason,Incomplete Rides,Incomplete Rides Reason
0,IIT Delhi,Sohna Road,Completed,Go Mini,2024-01-24,18:39:14,20.20,272.37,Debit Card,4.32,3.60,3.02,3.53,NaN,NaN,NaN,NaN,NaN,NaN
1,Nawada,Noida Extension,Completed,eBike,2024-03-04,14:38:54,6.21,67.67,Debit Card,2.49,4.24,1.60,4.44,NaN,NaN,NaN,NaN,1.0,Vehicle Breakdown
2,Uttam Nagar,Mayur Vihar,Completed,Go Mini,2024-08-09,07:31:02,16.17,186.88,Uber Wallet,4.40,4.12,2.80,4.01,NaN,NaN,NaN,NaN,NaN,NaN
3,Ghitorni,Satguru Ram Singh Marg,Completed,Bike,2024-08-25,15:05:14,10.49,89.87,Cash,4.41,4.04,2.56,3.96,NaN,NaN,NaN,NaN,NaN,NaN
4,Rajiv Chowk,New Delhi Railway Station,Completed,Go Mini,2024-03-28,08:04:50,10.32,159.61,Uber Wallet,4.62,NaN,2.54,3.90,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,Udyog Vihar,Palam Vihar,Completed,Go Mini,2024-06-26,19:37:52,11.06,153.54,Credit Card,5.90,3.79,1.74,4.01,NaN,NaN,NaN,NaN,NaN,NaN
149996,Anand Vihar ISBT,Vishwavidyalaya,Completed,Bike,2024-04-05,07:21:39,7.15,68.67,Cash,3.56,4.01,3.26,3.75,NaN,NaN,NaN,NaN,NaN,NaN
149997,Mayur Vihar,Meerut,Cancelled by Customer,eBike,2024-06-04,04:24:33,12.48,99.63,Cash,9.63,2.84,5.21,1.87,NaN,NaN,NaN,NaN,NaN,NaN
149998,Azadpur,Noida Sector 62,Completed,Go Sedan,2024-05-04,12:04:49,17.41,204.38,UPI,4.86,NaN,2.99,4.42,NaN,NaN,NaN,NaN,NaN,NaN
149999,Azadpur,Cyber Hub,Completed,Go Sedan,2024-09-19,16:37:15,2.34,50.86,Cash,4.43,4.13,1.73,4.32,NaN,NaN,NaN,NaN,NaN,NaN

In [107]:
cols=df2[['Booking ID','Customer ID']]

In [108]:
data=pd.concat([data1,cols],axis=1)

In [109]:
data.to_csv('UberDataset.csv',index=False)

In [110]:
data

,Pickup Location,Drop Location,Booking Status,Vehicle Type,Date,Time,Ride Distance,Booking Value,Payment Method,Avg CTAT,...,Avg VTAT,Customer Rating,Cancelled Rides by Customer,Reason for cancelling by Customer,Cancelled Rides by Driver,Driver Cancellation Reason,Incomplete Rides,Incomplete Rides Reason,Booking ID,Customer ID
0,IIT Delhi,Sohna Road,Completed,Go Mini,2024-01-24,18:39:14,20.20,272.37,Debit Card,4.32,...,3.02,3.53,NaN,NaN,NaN,NaN,NaN,NaN,"""CNR5884300""","""CID1982111"""
1,Nawada,Noida Extension,Completed,eBike,2024-03-04,14:38:54,6.21,67.67,Debit Card,2.49,...,1.60,4.44,NaN,NaN,NaN,NaN,1.0,Vehicle Breakdown,"""CNR1326809""","""CID4604802"""
2,Uttam Nagar,Mayur Vihar,Completed,Go Mini,2024-08-09,07:31:02,16.17,186.88,Uber Wallet,4.40,...,2.80,4.01,NaN,NaN,NaN,NaN,NaN,NaN,"""CNR8494506""","""CID9202816"""
3,Ghitorni,Satguru Ram Singh Marg,Completed,Bike,2024-08-25,15:05:14,10.49,89.87,Cash,4.41,...,2.56,3.96,NaN,NaN,NaN,NaN,NaN,NaN,"""CNR8906825""","""CID2610914"""
4,Rajiv Chowk,New Delhi Railway Station,Completed,Go Mini,2024-03-28,08:04:50,10.32,159.61,Uber Wallet,4.62,...,2.54,3.90,NaN,NaN,NaN,NaN,NaN,NaN,"""CNR1950162""","""CID9933542"""
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,Udyog Vihar,Palam Vihar,Completed,Go Mini,2024-06-26,19:37:52,11.06,153.54,Credit Card,5.90,...,1.74,4.01,NaN,NaN,NaN,NaN,NaN,NaN,"""CNR6500631""","""CID4337371"""
149996,Anand Vihar ISBT,Vishwavidyalaya,Completed,Bike,2024-04-05,07:21:39,7.15,68.67,Cash,3.56,...,3.26,3.75,NaN,NaN,NaN,NaN,NaN,NaN,"""CNR2468611""","""CID2325623"""
149997,Mayur Vihar,Meerut,Cancelled by Customer,eBike,2024-06-04,04:24:33,12.48,99.63,Cash,9.63,...,5.21,1.87,NaN,NaN,NaN,NaN,NaN,NaN,"""CNR6358306""","""CID9925486"""
149998,Azadpur,Noida Sector 62,Completed,Go Sedan,2024-05-04,12:04:49,17.41,204.38,UPI,4.86,...,2.99,4.42,NaN,NaN,NaN,NaN,NaN,NaN,"""CNR3030099""","""CID9415487"""
149999,Azadpur,Cyber Hub,Completed,Go Sedan,2024-09-19,16:37:15,2.34,50.86,Cash,4.43,...,1.73,4.32,NaN,NaN,NaN,NaN,NaN,NaN,"""CNR3447390""","""CID4108667"""