In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
%matplotlib inline

In [ ]:
sns.get_dataset_names()

In [ ]:
titanic = sns.load_dataset('titanic')
titanic.head(10)

:

Plot a countplot for categorical data.

In [ ]:
sns.countplot(x='sex', data=titanic, palette='muted')

Compare categories with barplots.

In [ ]:
sns.barplot(x='survived', y='pclass', data=titanic)
plt.xticks([0,1], ["no","yes"])

Visualize spread with violin and strip plots.

In [ ]:
sns.violinplot(titanic['fare'])

In [ ]:
sns.stripplot(x='pclass', y='fare', data=titanic, hue='sex', jitter=True, dodge=True)

Create a countplot for gender distribution.

In [ ]:
sns.countplot(x='sex', data=titanic)

Plot a bar chart of average marks by subject.

In [ ]:
data = {
    'subject': ['Math', 'Science', 'English', 'History', 'Geography'],
    'marks': [88, 74, 92, 81, 79]
}

df = pd.DataFrame(data)
df

In [ ]:
sns.barplot(x='subject', y='marks', data=df, palette='pastel')

Compare age distribution by gender using a violin plot.

In [ ]:
sns.violinplot(titanic['age'])

Overlay strip plot on top of a boxplot for salary data.

In [ ]:
data = {
    'department': ['HR', 'Finance', 'IT', 'HR', 'Finance', 'IT', 'HR', 'Finance', 'IT', 'HR'],
    'salary': [55000, 72000, 67000, 50000, 73000, 68000, 58000, 75000, 69000, 53000],
    'yop': [2,4,1,3,5,2,1,6,4,3]
}

df = pd.DataFrame(data)
df

In [ ]:
sns.boxplot(x='department', y='salary', data=df, palette='Set2')
sns.stripplot(x='department', y='salary', data=df, jitter=True, color='black')

Create a swarmplot for department vs years of experience.

In [ ]:
sns.swarmplot(x='department', y='yop', data=df)